# gitignored folders
/node_modules
/node_build
.docker-volumes

# other stuff
/Makefile
/README.md
/LICENCE.md
/package-lock.json

# local environment files
.env.local
.env.development.local
.env.production.local
.env.test.local

