
.inline {
    display: inline;
}

.block {
    flex: 1;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.vertical {
    flex-direction: row;
}

.spaced > * {
    flex: 1;
}

.centered {
    justify-content: center;
    align-items: center;
}

.scrollable {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.mask {
    overflow: hidden;
}
